.tong{
	width: 600px;
	margin: 0 auto;
	background-color: #FFFFCC;
	padding: 15px;
}
.tong h2{
	text-align: center;
	color: #0000CC;
	text-transform: uppercase;
	font: Arial;
}
.row{
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}
.logo{
	width: 20%;
}
.main{
	width: 80%;
}
.logo img{
	width: 90px;
}
.row label, .row input {
	color: #000066;
	font: Arial;
}
.row label{
	width: 20%;
	margin-right: 20px;
}
button{
	margin-right: 10px;
}
body{
	margin: 0px;
	padding: 0px;
}
.dialog{
	background-color: rgb(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	display: none;
}
.dialog-body{
	width: 400px;
	margin: 0px auto;
	background-color: white;
	margin-top: 25%;
	padding: 20px;
}
.dialog-tren{
	width: 100%;
	padding: 20px;
	text-align: center;
}
.dialog-duoi{
	background-color: #f2f2f2;
	width: 100%;
	height: 50px;
	padding: 20px 0px;
}
.dialog-duoi button{
	margin: 30px 0 0 300px;
}